body {
  font-family: 'Lato'; }

.fa-btn {
  margin-right: 6px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin-top: 0px;
  color: #333;
  font-family: "Open Sans", sans-serif !important; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 16px; }

h4 {
  font-size: 14px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 10px; }

#wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: 1px 0px 50px rgba(0, 0, 0, 0.2); }

#page-wrapper {
  padding: 0px;
  min-height: 558px;
  padding-bottom: 60px; }

.navbar-header {
  border: 0px; }

.navbar-default {
  border: 0px;
  background-color: #2496BD;
  color: #fff; }

.navbar .navbar-brand, .navbar .nav > li > a {
  color: #fff; }

.navbar .navbar-brand, .navbar .nav > li > a:hover {
  color: #fff; }

.container-fluid {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 3px; }

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-left: 7.5px;
  padding-right: 7.5px; }

.row {
  margin-right: -7.5px;
  margin-left: -7.5px; }

.btn-primary,
.btn-primary.disabled {
  background: #ab8ce4;
  border: 1px solid #ab8ce4; }

.btn-primary:hover,
.btn-primary.disabled:hover,
.btn-primary:focus,
.btn-primary.disabled:focus,
.btn-primary.focus,
.btn-primary.disabled.focus {
  background: #ab8ce4;
  opacity: 0.8;
  border: 1px solid #ab8ce4; }

.btn-success,
.btn-success.disabled {
  background: #00c292;
  border: 1px solid #00c292; }

.btn-success:hover,
.btn-success.disabled:hover,
.btn-success:focus,
.btn-success.disabled:focus,
.btn-success.focus,
.btn-success.disabled.focus {
  background: #47D178;
  opacity: 0.8;
  border: 1px solid #47D178; }

.btn-info,
.btn-info.disabled {
  background: #03a9f3;
  border: 1px solid #03a9f3; }

.btn-info:hover,
.btn-info.disabled:hover,
.btn-info:focus,
.btn-info.disabled:focus,
.btn-info.focus,
.btn-info.disabled.focus {
  background: #03a9f3;
  opacity: 0.8;
  border: 1px solid #03a9f3; }

.btn-warning,
.btn-warning.disabled {
  background: #fec107;
  border: 1px solid #fec107; }

.btn-warning:hover,
.btn-warning.disabled:hover,
.btn-warning:focus,
.btn-warning.disabled:focus,
.btn-warning.focus,
.btn-warning.disabled.focus {
  background: #fec107;
  opacity: 0.8;
  border: 1px solid #fec107; }

.btn-danger,
.btn-danger.disabled {
  background: #fb9678;
  border: 1px solid #fb9678; }

.btn-danger:hover,
.btn-danger.disabled:hover,
.btn-danger:focus,
.btn-danger.disabled:focus,
.btn-danger.focus,
.btn-danger.disabled.focus {
  background: #fb9678;
  opacity: 0.8;
  border: 1px solid #fb9678; }

.btn-default,
.btn-default.disabled {
  background: #e4e7ea;
  border: 1px solid #e4e7ea; }

.btn-default:hover,
.btn-default.disabled:hover,
.btn-default:focus,
.btn-default.disabled:focus,
.btn-default.focus,
.btn-default.disabled.focus {
  opacity: 0.8;
  border: 1px solid #47D178;
  background: #47D178; }

.form-horizontal .control-label {
  text-align: left; }

.form-control::-webkit-input-placeholder {
  color: #999; }

.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #999; }

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #999; }

.form-control:-ms-input-placeholder {
  color: #999; }

.form-control, .placeholder {
  color: #999; }

.page-title {
  padding-bottom: 30px;
  text-transform: capitalize; }

.page-title h1 {
  font-weight: 400;
  font-size: 23px; }

.panel-primary > .panel-heading {
  color: #fff;
  background-color: #01a8fe;
  border-color: #01a8fe; }

.panel-info > .panel-heading {
  color: #fff;
  background-color: #56C0E0;
  border-color: #56C0E0; }

.panel-success > .panel-heading {
  color: #fff;
  background-color: #1bbf89;
  border-color: #1bbf89; }

.panel-warning > .panel-heading {
  color: #fff;
  background-color: #f7af3e;
  border-color: #f7af3e; }

.panel-danger > .panel-heading {
  color: #fff;
  background-color: #DB524B;
  border-color: #DB524B; }

.panel-default > .panel-heading {
  position: relative;
  background: #dae6ec;
  color: #333;
  border-color: #dae6ec; }

.panel-default > .panel-heading a {
  color: #333; }

.panel-success {
  border-color: #1bbf89; }

.panel-primary {
  border-color: #01a8fe; }

.panel-info {
  border-color: #56C0E0; }

.panel-warning {
  border-color: #f7af3e; }

.panel-danger {
  border-color: #DB524B; }

.user-col {
  padding: 15px;
  background-color: #fff;
  margin-bottom: 30px; }

@media (max-width: 1440px) {
  #wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    box-shadow: 1px 0px 50px rgba(0, 0, 0, 0.2); }
  .container-fluid {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px; } }

/*# sourceMappingURL=app.css.map */
