// Basic settings
$body-bg:            #F0F0F0;
$body-text:          #333333;
$border:             #ddd;

// links
$link:               #3b73af;
$link-hover:         #3b73af;

// Buttons
$btn-default:          #ffffff;
$btn-default-bg:       #333333;

$btn-primary:          #ffffff;
$btn-primary-bg:       #3bafda;

$btn-danger:           #ffffff;
$btn-dange-bg:         #da4453;


$btn-success:          #333333;

$btn-warning:          #ffffff;
$btn-warning-bg:       #f8c969;

// Contact list
$contact-hover-border: #3bafda;
$contact-hover-bg:     #3bafda;

// Color palette
$primary:              #dd4b39;
$secondary:            #dd4b39;
$white:                #fff;
$black:                #333;
$bg-red:               #af1f2e;
$bg-green:             #2d9340;

// Navbar settings
$navbar-background:  #02779e;
$navbar-background-default: #016b8f;
$navbar-link:        #fff;
$navbar-link-hover:  #f1f1f1;

// Documentation
$docs-gray:     #d7d7d7;
$docs-icon:     #636363;
$docs-black:    #181818;
$docs-white:    #f0f4f5;

// Wizard
$wizard-black-2:    #222;
$wizard-black:      #333;
$wizard-gray:       #d3d7d7;
$wizard-dark-gray:  #999;
$wizard-light-gray: #eee;
$wizard-error:      #da4453;
$wizard-white:      #fff;
$wizard-blue:       #3bafda;

// Search
$search-gray:       #eee;

// Tabs
$tab-gray:          #ddd;
$tab-gray-2:        #e8e8e8;
$tab-gray-3:        #999;
$tab-white:         #fff;
$tab-white-2:       #f5f5f5;
$tab-blue:          #3bafda;

// Profile
$profile-gray:      #999;

// Panels
$panel-white:       #fff;
$panel-gray:        #dae6ec;
$panel-black:       #333;
$panel-green:       #1bbf89;
$panel-danger:      #db524b;
$panel-warning:     #f7af3e;
$panel-info:        #56c0e0;
$panel-primary:     #01a8fe;

// Pagination
$pagination-blue:       #3b73af;
$pagination-white:      #fff;
$pagination-light-gray: #eee;
$pagination-gray:       #ddd;
$pagination-black:      #222;