html, body {
  height: 100%; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #333333;
  background-color: #F0F0F0;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-weight: 400; }

.fa-btn {
  margin-right: 6px; }

  a {
    color: #3b73af;
    cursor: pointer;
  }
  a,
  .btn {
    outline: none;
  }
  a:hover,
  .btn:hover,
  a:focus,
  .btn:focus {
    text-decoration: none;
  }

h1 {
    font: 400 36px / 1.1 "Open Sans", Arial, sans-serif;
  }
h2 {
    font: 400 30px / 1.1 "Open Sans", Arial, sans-serif;
  }
h3 {
    font: 400 26px / 1.1 "Open Sans", Arial, sans-serif;
  }
h4 {
    font: 400 20px / 1.1 "Open Sans", Arial, sans-serif;
  }
h5 {
    font: 400 16px / 1.1 "Open Sans", Arial, sans-serif;
  }

hr {
  box-sizing: content-box;
  height: 0;
}

#wrapper {
  width: 100%;
  max-width: 1540px;
  margin: 0 auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  min-height: 100%;
  }

#page-wrapper {
  margin-top:-30px;
  padding: 0px;
  padding-bottom: 60px;
  }


  .heading_a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin: 0 0 15px;
    padding: 0 4px 4px;
  }
  .heading_a .heading_text {
    font: 400 16px / 22px "Open Sans", Arial, sans-serif;
    color: #333;
    text-transform: uppercase;
  }
  .heading_a .heading_icon {
    font-size: 16px;
    line-height: 22px;
    margin-right: 4px;
    color: #999;
  }
  .heading_a + .row {
    margin-top: 20px;
  }
  .heading_b {
    margin: 0 0 10px;
  }
  .heading_b .heading_text {
    font: 400 14px / 20px "Open Sans", Arial, sans-serif;
    text-transform: uppercase;
  }
  .text_hr {
    margin: 10px 0;
    text-align: center;
    position: relative;
  }
  .text_hr > span {
    display: inline-block;
    font-size: 13px;
    padding: 0 10px;
    background: #fff;
    position: relative;
    z-index: 10;
    color: #555;
  }
  .text_hr:after {
    position: absolute;
    left: 0;
    top: 11px;
    width: 100%;
    border-top: 1px solid #eee;
    height: 0;
    content: '';
    z-index: 1;
  }

  .container-fluid {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 3px;
  }
  .page-title {
    padding-bottom: 30px;
    text-transform: capitalize; }

  .page-title h1 {
    font-weight: 400;
    font-size: 23px; }

  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-xs-1,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9 {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }


  .row {
    margin-right: -7.5px;
    margin-left: -7.5px;
   }

   @media (max-width: 1440px) {
     #wrapper {
       width: 100%;
       max-width: 1440px;
       margin: 0 auto;
       box-shadow: 1px 0px 30px rgba(0, 0, 0, 0.2); }
     .container-fluid {
       padding-left: 25px;
       padding-right: 25px;
       padding-bottom: 10px;
       }
     }
