.label {
  font-weight: normal;
  padding: 2px 6px;
}

label.label-primary,
.badge.badge-primary,
.label.label-info,
.badge.badge-info,
.label.label-success,
.badge.badge-success,
.label.label-warning,
.badge.badge-warning,
.label.label-danger,
.badge.badge-danger,
.label.label-inverse,
.badge.badge-inverse {
  color: $label-white;
}

.label.label-primary,
.badge.badge-primary {
  background-color: $label-primary;
}

.label.label-info,
.badge.badge-info {
  background-color: $label-info;
}

.label.label-success,
.badge.badge-success {
  background-color: $label-success;
}

.label.label-warning,
.badge.badge-warning {
  background-color: $label-warning;
}

.label.label-danger,
.badge.badge-danger {
  background-color: $label-danger;
}
