.label {
  padding: 2px 6px;
  font-weight: normal;
}
label.label-primary,
.badge.badge-primary,
.label.label-info,
.badge.badge-info,
.label.label-success,
.badge.badge-success,
.label.label-warning,
.badge.badge-warning,
.label.label-danger,
.badge.badge-danger,
.label.label-inverse,
.badge.badge-inverse {
  color: #ffffff;
}
.label.label-primary,
.badge.badge-primary {
  background-color: #3bafda;
}
.label.label-info,
.badge.badge-info {
  background-color: #37bc9b;
}
.label.label-success,
.badge.badge-success {
  background-color: #8cc152;
}
.label.label-warning,
.badge.badge-warning {
  background-color: #f6bb42;
}
.label.label-danger,
.badge.badge-danger {
  background-color: #da4453;
}
