.list_a,
.list_b,
.list_c,
.list_d {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list_a li,
.list_b li,
.list_c li,
.list_d li {
  padding-left: 16px;
  position: relative;
}

.list_a li:before,
.list_b li:before,
.list_c li:before,
.list_d li:before {
  border-radius: 50%;
  content: '';
  display: block;
  height: 5px;
  left: 2px;
  position: absolute;
  top: 8px;
  width: 5px;
}

.list_a li:before {
  background: $list-blue;
}

.list_b li:before {
  background: $list-orange;
}

.list_c li:before {
  background: $list-red;
}

.list_d li:before {
  background: $list-green;
}

// list group
.list-group-item {
  border: 0;

  // .list-group-item + .list-group-item
  + .list-group-item {
    border-top: 1px solid $list-light-gray;
  }
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background: $list-light-gray;
  border-color: $list-light-gray;
  color: $list-black-2;
  z-index: auto;
}

a.list-group-item:hover,
a.list-group-item:focus {
  background: $list-light-gray;
}

.list_group_sep .list-group-item {
  border: 1px solid $list-gray;
  border-radius: 4px;

  // .list_group_sep .list-group-item a
  a {
    color: $list-black;
  }

  // .list_group_sep .list-group-item + .list-group-item
  + .list-group-item {
    margin-top: 4px;
  }
}

.list_group_sep .progress {
  margin: 4px 0 0;
}

.list_group_sep .list_icon {
  color: $list-warning;
  font-size: 18px;
}
