.navbar-header {
  border: 0;
}

.navbar-default {
  background-color: $navbar-background;
  border: 0;
  color: $navbar-link;
  padding-bottom: 0;

  // .navbar-default .navbar-nav > .open
  .navbar-nav > .open {
    background: $navbar-background-default;
    color: $navbar-link;
  }
}

.navbar .navbar-brand,
.navbar .nav > li > a {
  color: $navbar-link;
}

.navbar .navbar-brand,
.navbar .nav > li > a:hover {
  color: $navbar-link-hover;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: $navbar-background-default;
  color: $navbar-link;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background: $navbar-background-default;
  color: $navbar-link;
}
