.pagination {
  margin: 10px 0;
}

.pagination > li > a,
.pagination > li > span {
  background-color: $pagination-white;
  border: 1px solid $pagination-gray;
  color: $pagination-blue;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: $pagination-light-gray;
  border-color: $pagination-gray;
  color: $pagination-black;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: $pagination-light-gray;
  border-color: $pagination-gray;
  color: $pagination-black;
}
