.panel-primary > .panel-heading {
  color: #fff;
  background-color: #01a8fe;
  border-color: #01a8fe; }

.panel-info > .panel-heading {
  color: #fff;
  background-color: #56C0E0;
  border-color: #56C0E0; }

.panel-success > .panel-heading {
  color: #fff;
  background-color: #1bbf89;
  border-color: #1bbf89; }

.panel-warning > .panel-heading {
  color: #fff;
  background-color: #f7af3e;
  border-color: #f7af3e; }

.panel-danger > .panel-heading {
  color: #fff;
  background-color: #DB524B;
  border-color: #DB524B; }

.panel-default > .panel-heading {
  position: relative;
  background: #dae6ec;
  color: #333;
  border-color: #dae6ec; }

.panel-default > .panel-heading a {
  color: #333; }

.panel-success {
  border-color: #1bbf89; }

.panel-primary {
  border-color: #01a8fe; }

.panel-info {
  border-color: #56C0E0; }

.panel-warning {
  border-color: #f7af3e; }

.panel-danger {
  border-color: #DB524B; }
