.panel-primary > .panel-heading {
  background-color: $panel-primary;
  border-color: $panel-primary;
  color: $panel-white;
}

.panel-info > .panel-heading {
  background-color: $panel-info;
  border-color: $panel-info;
  color: $panal-white;
}

.panel-success > .panel-heading {
  background-color: $panel-green;
  border-color: $panel-green;
  color: $panel-white;
}

.panel-warning > .panel-heading {
  background-color: $panel-warning;
  border-color: $panel-warning;
  color: $panel-white;
}

.panel-danger > .panel-heading {
  background-color: $panel-danger;
  border-color: $panel-danger;
  color: $panel-white;
}

.panel-default > .panel-heading {
  background: $panel-gray;
  border-color: $panel-gray;
  color: $panel-black;
  position: relative;

  // .panel-default > .panel-heading a
  a {
    color: $panel-black;
  }
}

// scss-lint:disable MergeableSelector
.panel-success {
  border-color: $panel-green;
}

// scss-lint:disable MergeableSelector
.panel-primary {
  border-color: $panel-primary;
}

// scss-lint:disable MergeableSelector
.panel-info {
  border-color: $panel-info;
}

// scss-lint:disable MergeableSelector
.panel-warning {
  border-color: $panel-warning;
}
