.wizard .steps ul {
  border-color: $wizard-light-gray;
  border-style: solid;
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  zoom: 1;

  // .wizard .steps ul li
  li {
    border-right: 1px solid $wizard-light-gray;
    float: left;
    margin: 2px 0;

    // .wizard .steps ul li.done a
    &.done a {
      color: $wizard-black-2;
    }

    // .wizard .steps ul li a
    a {
      color: $wizard-dark-gray;
      display: block;
      font: 400 13px / 16px "Open Sans", Arial, sans-serif;
      line-height: 32px;
      padding: 4px 10px;
      position: relative;
      text-align: center;

      // .wizard .steps ul li a:before
      &:before {
        border: 10px solid transparent;
        bottom: -20px;
        margin-left: -10px;
      }

      // .wizard .steps ul li a:after
      &:after {
        border: 7px solid transparent;
        bottom: -14px;
        margin-left: -7px;
      }

      // .wizard .steps ul li a .current-info
      .current-info {
        display: none;
      }

      // .wizard .steps ul li a .title
      .title {
        vertical-align: 0;

        // .wizard .steps ul li a .title span
        span {
          display: inline-block;
          font-size: 12px;
          font-weight: 700;
          padding-right: 4px;
        }
      }
    }

    // .wizard .steps ul li:last-child
    &:last-child {
      border-right: 0;
    }

    // .wizard .steps ul li.current a
    &.current a {
      background: $wizard-blue;
      color: $wizard-white;

      // .wizard .steps ul li.current a:before
      &:before {
        border-top-color: $wizard-white;
      }

      // .wizard .steps ul li.current a:after
      &:after {
        border-top-color: $wizard-blue;
      }
    }

    // .wizard .steps ul li.error a
    &.error a {
      background: $wizard-error;
      color: $wizard-white;

      // .wizard .steps ul li.error a:before
      &:before {
        border-top-color: $wizard-white;
      }

      // .wizard .steps ul li.error a:after
      &:after {
        border-top-color: $wizard-error;
      }
    }
  }
}

.wizard .steps ul:before,
.wizard .steps ul:after {
  content: '';
  display: table;
}

.wizard .steps ul:after {
  clear: both;
}

.wizard .steps ul li a:hover,
.wizard .steps ul li a:focus {
  text-decoration: none;
}

.wizard .steps ul li a:before,
.wizard .steps ul li a:after {
  content: '';
  display: block;
  height: 0;
  left: 50%;
  position: absolute;
  width: 0;
}

.wizard > .content {
  overflow: hidden;
  position: relative;
  -webkit-transition: height 375ms ease-in-out;
  transition: height 375ms ease-in-out;

  // .wizard > .content > .title
  > .title {
    left: -999em;
    position: absolute;
  }

  // .wizard > .content > .body
  > .body {
    float: left;
    padding: 10px 0;
    position: absolute;
    width: 100%;
  }
}

.wizard .wizard_pagination li.disabled .btn {
  background-color: $wizard-gray;
  border-color: $wizard-gray;
  filter: alpha(opacity = 45);
  opacity: .45;
}

.wizard .wizard_pagination li.disabled .btn-link {
  color: $wizard-black;
}

.wizard .actions {
  border-top: 1px solid $wizard-light-gray;
  padding-top: 10px;

  // .wizard .actions li.disabled a
  li.disabled a {
    color: $wizard-dark-gray;
  }

}

.wizard .actions ul,
.wizard .actions li {
  list-style: none;
  margin-left: 0;
  padding: 0;
}
