.serviceBox2 {
  background-color: $docs-white;
  border: 1px solid $docs-white;
  margin-bottom: 30px;
  min-height: 230px;
  padding: 40px 16px;
  position: relative;
  text-align: center;
  transition: all .3s ease 0s;
  z-index: 1;

  // .serviceBox2 .read
  .read {
    margin-top: 20px;

    // .serviceBox2 .read a
    a {
      border-radius: 50%;
      color: $docs-icon;
      display: inline-block;
      line-height: 16px;
      opacity: 1;
      text-align: center;
      text-decoration: none;
      transition: all .3s ease 0s;
    }
  }

  // .serviceBox2 .service-content p
  .service-content p {
    line-height: 26px;
  }

  // .serviceBox2 .service-content h3
  .service-content h3 {
    font-weight: bold;
    margin-bottom: 15px;

    // .serviceBox2 .service-content h3 a
    a {
      font-size: 16px;
      line-height: 22px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  // .serviceBox2 .service-icon i
  .service-icon i {
    color: $docs-icon;
    font-size: 32px;
    line-height: 32px;
    transition: all .3s ease 0s;
  }
}

.serviceBox2:after,
.serviceBox2:before {
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all .5s ease 0s;
}

.serviceBox2:after {
  border-bottom: 1px solid $docs-gray;
  border-top: 1px solid $docs-gray;
  transform: scaleX(0);
  transform-origin: 0 100% 0;
  z-index: -1;
}

.serviceBox2:before {
  border-left: 1px solid $docs-gray;
  border-right: 1px solid $docs-gray;
  transform: scaleY(0);
  transform-origin: 100% 0 0;
  z-index: -1;
}

.serviceBox2:hover:after {
  transform: scaleX(1);
}

.serviceBox2:hover:before {
  transform: scaleY(1);
}

.serviceBox2 .read a:hover,
.serviceBox2:hover .service-icon i {
  border-color: $docs-black;
  color: $docs-black;
}

.serviceBox2:hover .read a {
  opacity: 1;
  transition: all .3s ease 0s;
}
